@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=VT323");
body {
  overflow-x: hidden; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------------------------------
           NeutronCSS
---------------------------------*/
html {
  box-sizing: border-box; }

html * {
  box-sizing: inherit; }

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

/*--------- End of NeutronCSS ---------*/
img {
  max-width: 100%;
  float: left; }

.no-padding {
  padding: 0; }

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.3em; }

a {
  text-decoration: none; }

p, ol, ul, address, img, h1, h2, h3, h4, h5, h6 {
  padding: 6px 12px;
  font-family: "Raleway", sans-serif; }

blockquote {
  margin: 6px 12px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em; }

h1 {
  font-size: 2.8em;
  font-weight: bold; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2.1em; }

h4 {
  font-size: 1.8em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.2em; }

blockquote {
  background-color: #f7f7f7;
  border-left: 15px solid #2383cf;
  border-right: 2px solid #2383cf;
  display: block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  box-shadow: 2px 2px 15px #ccc; }
  blockquote footer {
    padding: 6px 12px; }

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 30px; }

blockquote::after {
  /*Reset to make sure*/
  content: ""; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

cite {
  font-size: 0.65em;
  vertical-align: top; }

code {
  font-family: "VT323", monospace;
  font-size: 1.2em; }

table th, table td {
  padding: 6px 12px; }

table thead, table tfoot {
  background-color: #082b7a;
  color: #fff; }

table tbody tr {
  background-color: #d3e6f5; }

table tbody tr:nth-child(2n) {
  background-color: #91c1e7; }

ol {
  list-style: lower-latin; }

ul {
  list-style: initial; }

a {
  color: #2383cf;
  -webkit-transition: 0.5s color;
  transition: 0.5s color; }
  a:hover {
    color: #1a4a70; }

body {
  background-color: #111111; }

.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #061d52; }
  .nav:after {
    content: "";
    display: table;
    clear: both; }
  .nav > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }
  .nav .menu ul {
    padding: 0;
    list-style: none; }
    .nav .menu ul li {
      display: inline-block;
      line-height: 50px;
      height: 50px; }
      .nav .menu ul li a {
        display: block;
        padding: 0 20px;
        font-size: 13pt; }

@media (max-width: 767px) {
  .nav_desktop {
    display: none; } }

.nav_desktop .menu ul li {
  border-left: none; }
  .nav_desktop .menu ul li:last-child {
    border-right: none; }

@media (min-width: 768px) {
  .nav_mobile {
    display: none; } }

.nav_mobile .menubar {
  height: 50px;
  -webkit-transition: 0.5s background-color, 0.5s color;
  transition: 0.5s background-color, 0.5s color; }
  .nav_mobile .menubar:hover {
    cursor: pointer;
    background-color: #2383cf; }
    .nav_mobile .menubar:hover #menu-text {
      color: #1a4a70; }
  .nav_mobile .menubar #menu-button-container {
    border: none;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    display: inline-block;
    float: left; }
    .nav_mobile .menubar #menu-button-container div {
      position: relative;
      margin-top: 8px;
      margin-bottom: 8px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-top: 24px; }
      .nav_mobile .menubar #menu-button-container div, .nav_mobile .menubar #menu-button-container div::before, .nav_mobile .menubar #menu-button-container div::after {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #7bb5e2;
        outline: 1px solid transparent;
        -webkit-transition-property: background-color, -webkit-transform;
        transition-property: background-color, -webkit-transform;
        transition-property: background-color, transform;
        transition-property: background-color, transform, -webkit-transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s; }
      .nav_mobile .menubar #menu-button-container div::before, .nav_mobile .menubar #menu-button-container div::after {
        position: absolute;
        content: ""; }
      .nav_mobile .menubar #menu-button-container div::before {
        top: -8px; }
      .nav_mobile .menubar #menu-button-container div::after {
        top: 8px; }
  .nav_mobile .menubar #menu-text {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    float: left;
    padding: 0;
    padding-left: .5em;
    margin: 0;
    color: #2383cf; }

.nav_mobile #nav-dropdown {
  width: 100%;
  float: left; }
  .nav_mobile #nav-dropdown ul li {
    width: 100%;
    float: left;
    border-top: #6FAFE1 2px solid; }
    .nav_mobile #nav-dropdown ul li:last-child {
      border-bottom: #6FAFE1 2px solid; }
    .nav_mobile #nav-dropdown ul li a {
      display: block;
      -webkit-transition: 0.5s background-color;
      transition: 0.5s background-color; }
      .nav_mobile #nav-dropdown ul li a:hover {
        background-color: #2383cf; }

.nav_mobile #nav-dropdown.inactive {
  display: none; }

.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee; }
  .content .title {
    margin-top: 6px;
    background-color: #6FAFE1;
    padding: 6px 12px;
    color: #fff; }
  .content:after {
    content: "";
    display: table;
    clear: both; }
  .content > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }
  .content .pageContent {
    padding: 12px; }

.footerBar {
  background-color: #111111;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-top: 36px; }
  .footerBar:after {
    content: "";
    display: table;
    clear: both; }
  .footerBar > *:nth-child(4n+1) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: left;
    margin-left: 0; }
  .footerBar > *:nth-child(4n+2) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: none; }
  .footerBar > *:nth-child(4n+3) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: none; }
  .footerBar > *:nth-child(4n+4) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: none;
    margin-right: 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    .footerBar {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; }
      .footerBar:after {
        content: "";
        display: table;
        clear: both; }
      .footerBar > *:nth-child(2n+1) {
        width: calc(50% - 6px - 6px + 3px + 3px);
        float: left;
        margin: 6px;
        clear: left;
        margin-left: 0; }
      .footerBar > *:nth-child(2n+2) {
        width: calc(50% - 6px - 6px + 3px + 3px);
        float: left;
        margin: 6px;
        clear: none;
        margin-right: 0; } }
  @media (max-width: 479px) {
    .footerBar {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; }
      .footerBar:after {
        content: "";
        display: table;
        clear: both; }
      .footerBar > *:nth-child(1n+1) {
        width: calc(100% - 6px - 6px + 6px + 6px);
        float: left;
        margin: 6px;
        clear: left;
        margin-left: 0;
        margin-right: 0; } }
  .footerBar .footerWidget {
    padding: 10px;
    color: #fff; }

.copyrightBar {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  opacity: 0.6; }
  .copyrightBar:after {
    content: "";
    display: table;
    clear: both; }
  .copyrightBar > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }
/*# sourceMappingURL=main.css.map */