@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=VT323");
body {
  overflow-x: hidden; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------------------------------
           NeutronCSS
---------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/*--------- End of NeutronCSS ---------*/
img {
  max-width: 100%;
  float: left; }

.no-padding {
  padding: 0; }

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.3em; }

a {
  text-decoration: none; }

p, ol, ul, address, img, h1, h2, h3, h4, h5, h6 {
  padding: 6px 12px;
  font-family: "Raleway", sans-serif; }

blockquote {
  margin: 6px 12px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em; }

h1 {
  font-size: 2.8em;
  font-weight: bold; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2.1em; }

h4 {
  font-size: 1.8em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.2em; }

blockquote {
  background-color: #f7f7f7;
  border-left: 15px solid #2383cf;
  border-right: 2px solid #2383cf;
  display: block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  -webkit-box-shadow: 2px 2px 15px #ccc;
          box-shadow: 2px 2px 15px #ccc; }
  blockquote footer {
    padding: 6px 12px; }

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 30px; }

blockquote::after {
  /*Reset to make sure*/
  content: ""; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

cite {
  font-size: 0.65em;
  vertical-align: top; }

code {
  font-family: "VT323", monospace;
  font-size: 1.2em; }

table th, table td {
  padding: 6px 12px; }

table thead, table tfoot {
  background-color: #082b7a;
  color: #fff; }

table tbody tr {
  background-color: #d3e6f5; }

table tbody tr:nth-child(2n) {
  background-color: #91c1e7; }

ol {
  list-style: lower-latin; }

ul {
  list-style: initial; }

a {
  color: #2383cf;
  -webkit-transition: 0.5s color;
  transition: 0.5s color; }
  a:hover {
    color: #1a4a70; }

body {
  background-color: #111111; }

.headerBar .container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  .headerBar .container:after {
    content: "";
    display: table;
    clear: both; }
  .headerBar .container > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }
  .headerBar .container .imageContainer img {
    padding: 0; }

.nav {
  background-color: #061d52; }
  .nav .menu {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto; }
    .nav .menu:after {
      content: "";
      display: table;
      clear: both; }
    .nav .menu > *:nth-child(1n+1) {
      width: calc(100%);
      float: left;
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .nav .menu ul {
      padding: 0;
      list-style: none; }
      .nav .menu ul li {
        display: inline-block;
        line-height: 50px;
        height: 50px; }
        .nav .menu ul li a {
          display: block;
          padding: 0 20px;
          font-size: 13pt; }

@media (max-width: 767px) {
  .nav_desktop {
    display: none; } }

.nav_desktop .menu ul li {
  border-left: none; }
  .nav_desktop .menu ul li:last-child {
    border-right: none; }

@media (min-width: 768px) {
  .nav_mobile {
    display: none; } }

.nav_mobile .menubar {
  height: 50px;
  -webkit-transition: 0.5s background-color, 0.5s color;
  transition: 0.5s background-color, 0.5s color; }
  .nav_mobile .menubar:hover {
    cursor: pointer;
    background-color: #2383cf; }
    .nav_mobile .menubar:hover #menu-text {
      color: #1a4a70; }
  .nav_mobile .menubar #menu-button-container {
    border: none;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    display: inline-block;
    float: left; }
    .nav_mobile .menubar #menu-button-container div {
      position: relative;
      margin-top: 8px;
      margin-bottom: 8px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-top: 24px; }
      .nav_mobile .menubar #menu-button-container div, .nav_mobile .menubar #menu-button-container div::before, .nav_mobile .menubar #menu-button-container div::after {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #7bb5e2;
        outline: 1px solid transparent;
        -webkit-transition-property: background-color, -webkit-transform;
        transition-property: background-color, -webkit-transform;
        transition-property: background-color, transform;
        transition-property: background-color, transform, -webkit-transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s; }
      .nav_mobile .menubar #menu-button-container div::before, .nav_mobile .menubar #menu-button-container div::after {
        position: absolute;
        content: ""; }
      .nav_mobile .menubar #menu-button-container div::before {
        top: -8px; }
      .nav_mobile .menubar #menu-button-container div::after {
        top: 8px; }
  .nav_mobile .menubar #menu-text {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    float: left;
    padding: 0;
    padding-left: .5em;
    margin: 0;
    color: #2383cf; }

.nav_mobile #nav-dropdown {
  width: 100%;
  float: left; }
  .nav_mobile #nav-dropdown ul li {
    width: 100%;
    float: left;
    border-top: #6fafe1 2px solid; }
    .nav_mobile #nav-dropdown ul li:last-child {
      border-bottom: #6fafe1 2px solid; }
    .nav_mobile #nav-dropdown ul li a {
      display: block;
      -webkit-transition: 0.5s background-color;
      transition: 0.5s background-color; }
      .nav_mobile #nav-dropdown ul li a:hover {
        background-color: #2383cf; }

.nav_mobile #nav-dropdown.inactive {
  display: none; }

.content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee; }
  .content:after {
    content: "";
    display: table;
    clear: both; }
  .content > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }
  .content .title {
    margin-top: 6px;
    background-color: #6fafe1;
    padding: 6px 12px;
    color: white; }
  .content .defaultPageContent {
    max-width: 30;
    margin-left: auto;
    margin-right: auto; }
    .content .defaultPageContent:after {
      content: "";
      display: table;
      clear: both; }
    .content .defaultPageContent > *:nth-child(60n+1) {
      width: calc(1.6666666667%);
      float: left;
      clear: left;
      margin-left: 0; }
    .content .defaultPageContent > *:nth-child(60n+2) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+3) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+4) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+5) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+6) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+7) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+8) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+9) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+10) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+11) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+12) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+13) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+14) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+15) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+16) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+17) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+18) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+19) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+20) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+21) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+22) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+23) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+24) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+25) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+26) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+27) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+28) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+29) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+30) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+31) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+32) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+33) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+34) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+35) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+36) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+37) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+38) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+39) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+40) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+41) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+42) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+43) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+44) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+45) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+46) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+47) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+48) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+49) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+50) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+51) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+52) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+53) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+54) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+55) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+56) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+57) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+58) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+59) {
      width: calc(1.6666666667%);
      float: left;
      clear: none; }
    .content .defaultPageContent > *:nth-child(60n+60) {
      width: calc(1.6666666667%);
      float: left;
      clear: none;
      margin-right: 0; }
    .content .defaultPageContent .pageContent {
      padding: 12px; }
    .content .defaultPageContent .pageSidebar {
      padding: 12px; }

.footerBar {
  background-color: #111111;
  color: white;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-top: 36px; }
  .footerBar:after {
    content: "";
    display: table;
    clear: both; }
  .footerBar > *:nth-child(4n+1) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: left;
    margin-left: 0; }
  .footerBar > *:nth-child(4n+2) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: none; }
  .footerBar > *:nth-child(4n+3) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: none; }
  .footerBar > *:nth-child(4n+4) {
    width: calc(25% - 6px - 6px + 1.5px + 1.5px);
    float: left;
    margin: 6px;
    clear: none;
    margin-right: 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    .footerBar {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto; }
      .footerBar:after {
        content: "";
        display: table;
        clear: both; }
      .footerBar > *:nth-child(2n+1) {
        width: calc(50% - 6px - 6px + 3px + 3px);
        float: left;
        margin: 6px;
        clear: left;
        margin-left: 0; }
      .footerBar > *:nth-child(2n+2) {
        width: calc(50% - 6px - 6px + 3px + 3px);
        float: left;
        margin: 6px;
        clear: none;
        margin-right: 0; } }
  @media (max-width: 479px) {
    .footerBar {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto; }
      .footerBar:after {
        content: "";
        display: table;
        clear: both; }
      .footerBar > *:nth-child(1n+1) {
        width: calc(100% - 6px - 6px + 6px + 6px);
        float: left;
        margin: 6px;
        clear: left;
        margin-left: 0;
        margin-right: 0; } }
  .footerBar .footerWidget {
    padding: 10px;
    color: white; }

.copyrightBar {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  opacity: 0.6; }
  .copyrightBar:after {
    content: "";
    display: table;
    clear: both; }
  .copyrightBar > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }

.gallery {
  width: 100%; }
  .gallery .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .gallery .row .col {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      text-align: center; }

.contactForm .inputs input, .contactForm .inputs textarea {
  height: 3em;
  border: none;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  font-size: 1em;
  padding: 12px;
  border: #111111 solid 2px;
  -webkit-transition: 0.5s border-color, 0.5s background-color;
  transition: 0.5s border-color, 0.5s background-color; }
  .contactForm .inputs input:hover, .contactForm .inputs textarea:hover {
    border-color: #6fafe1;
    background-color: #bebebe; }

.contactForm .inputs textarea {
  resize: none; }

.contactForm .submission .submit {
  text-align: center; }
/*# sourceMappingURL=main.css.map */