@mixin button-basic{
    transition: 0.5s background-color, 0.5s color, 0.5s border-color;
    border: color('secondary') 2px solid;
    padding: 6px 24px;
    font-size: 1em;
    font-family: $title-font-family;
    background-color: color('foreground');

    &:hover{
        background-color: color-level('foreground',-2);
        border-color: color('primary');
        cursor: pointer;
    }
}



.button-basic{
    @include button-basic;
}

.button-submit{
    @include button-basic;
}
