//https://scotch.io/tutorials/aesthetic-sass-2-colors

$color-interval: 10%;

$color-map: (
    'bodytext': #111,
    'bodyinvert': #fff,
    'primary': #0E48CC,
    'accent': #2383cf,
    'secondary': #6FAFE1,
    'foreground': #eee,
    'background': #111111
);

$opacity-map: (
    'light': 0.8, // opacity used with lighter colors
    'dark': 0.4   // opacity used with darker colors
);



@function color($key: 'primary', $level: 0, $opacity: 1) {
  $curColor: map-get($color-map, $key);//
  $color-base: #fff;
  @if $level < 0{ // color is darker if level is <0, so set the color base to black instead.
      $color-base: #000;
      $level: -1 * $level; //make level positive so the mix function doesnt cry blood.
  }
  @warn $curColor;
  @return mix($color-base, $curColor, $level * $color-interval); // warp color to the right shade

  @if map-key-exists($opacity-map, $opacity) { //get opacity key if used.
      $opacity: map-get($opacity-map, $opacity);
  }

  // Use rgba() to manipulate the color's alpha level
  @return rgba($curColor, $opacity); //warp color to the right transparency.
}




@function color-alpha($name: 'primary', $opacity: 0) {
    @return color($name, 0, $opacity);
}

// Example usage:
//$button-transparent-color: color-alpha('primary', 'light');



@function color-level($color: 'primary', $level: 0) {
    @return color($color, $level, 0);
}
//Ex:
//$sometint: color-level('primary', 2);
//$someothertint: color-level('primary', -5);
